<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mass EDItor</title>
</head>
<body>
    <div class="page-header">
        <h1 th:align="center">Mass Editor</h1>
    </div>

    <form action="/">
        <button class="navbar-button" type="submit">Back</button>
    </form>

    <h3>Enter Query</h3>
    <form th:method="post" th:action="@{'/mass-editor/query'}" th:object="${massEditQuery}">
        <!-- Query limitations -->
        <h4>Limit to messages type and version: </h4>

        <select id="messageTypeSelect" th:field="*{type_lim}">
            <option th:each="typeLim : ${typeLimitations}" th:value="${typeLim}" th:text="${typeLim}"></option>
        </select>

        <select id="versionSelect" th:field="*{version_lim}">
            <option th:each="versionLim : ${versionLimitations}" th:value="${versionLim}" th:text="${versionLim}"></option>
        </select>

        <br>

        <!-- Query field -->
        <h4>Query:</h4>
        <table>
            <tr>
                <td></td>
                <td><p>Segment Group</p></td>
                <td><p>Segment Code</p></td>
                <td><p>Element Code</p></td>
                <td><p>Sub-Element Code</p></td>
                <td><p>Component</p></td>
                <td><p>Field name</p></td>
                <td><p>ArseCode</p></td>
                <td><p>Number</p></td>
                <td><p>Looping Logic</p></td>
                <td><p>Occurrence</p></td>
            </tr>
            <tr>
                <td>Input:</td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{seg_group_in}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="3" th:field="*{segment_in}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{element_in}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{sub_element_in}"/></td>
                <td><input type="text" style="width: 2ch" maxlength="1" th:field="*{component_in}"/></td>
                <td><input type="text" style="width: 30ch" maxlength="30" th:field="*{field_name_in}"/></td>
                <td><textarea type="text" style="width: 30ch; height: 15px" maxlength="8000" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' th:field="*{arsecode_in}"></textarea></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{field_count_in}"/></td>
                <td><input type="text" style="width: 30ch" maxlength="100" th:field="*{looping_logic_in}"/></td>
                <td>
                    <select th:field="*{occurrence}">
                        <option th:each="i : ${#numbers.sequence(0, 9)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Output:</td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{seg_group_out}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="3" th:field="*{segment_out}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{element_out}"/></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{sub_element_out}"/></td>
                <td><input type="text" style="width: 2ch" maxlength="1" th:field="*{component_out}"/></td>
                <td><input type="text" style="width: 30ch" maxlength="30" th:field="*{field_name_out}"/></td>
                <td><textarea type="text" style="width: 30ch; height: 15px" maxlength="8000" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' th:field="*{arsecode_out}"></textarea></td>
                <td><input type="text" style="width: 5ch" maxlength="4" th:field="*{field_count_out}"/></td>
                <td><input type="text" style="width: 30ch" maxlength="100" th:field="*{looping_logic_out}"/></td>
            </tr>
        </table>

        <button type ="submit">Run</button>
    </form>

    <h3>Query History</h3>
    <table>
        <tr>
            <td><p>Message Type Restriction</p></td>
            <td><p>Version Restriction</p></td>
            <td><p>Segment Group</p></td>
            <td><p>Segment Code</p></td>
            <td><p>Element Code</p></td>
            <td><p>Sub-Element Code</p></td>
            <td><p>Component</p></td>
            <td><p>Field name</p></td>
            <td><p>ArseCode</p></td>
            <td><p>Number</p></td>
            <td><p>Looping Logic</p></td>
            <td><p>Occurrence</p></td>
        </tr>
        <tr th:each="query : ${massEditQueries}">
            <td th:text="${query.type_lim}"></td>
            <td th:text="${query.version_lim}"></td>
            <td th:text="'&quot' + ${query.seg_group_in} + '&quot -> &quot' + ${query.seg_group_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.segment_in} + '&quot -> &quot' + ${query.segment_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.element_in} + '&quot -> &quot' + ${query.element_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.sub_element_in} + '&quot -> &quot' + ${query.sub_element_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.component_in} + '&quot -> &quot' + ${query.component_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.field_name_in} + '&quot -> &quot' + ${query.field_name_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.arsecode_in} + '&quot -> &quot' + ${query.arsecode_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.field_count_in} + '&quot -> &quot' + ${query.field_count_out} + '&quot'"></td>
            <td th:text="'&quot' + ${query.looping_logic_in} + '&quot -> &quot' + ${query.looping_logic_out} + '&quot'"></td>
            <td th:text="${query.occurrence}"></td>
            <td>
                <form method="post" th:action="@{/mass-editor/reverse/{id} (id = ${query.id})}">
                    <button type="submit">Revert to here</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>