<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mass EDItor</title>
</head>
<body>
    <div class="page-header">
        <h1 th:align="center" text="Mass Editor"></h1>
    </div>

    <form action="/specifications">
        <button class="navbar-button" type="submit">Back</button>
    </form>

    <h3>Enter Query</h3>
    <form th:method="post" th:action="@{'/mass-editor/query'}" th:object="${massEditQuery}">
        <!-- Query limitations -->
        <h4>Limit to messages type and version: </h4>

        <select id="messageTypeSelect" th:field="*{typeLim}">
            <option th:each="typeLim : ${typeLimitations}" th:value="${typeLim}" th:text="${typeLim}"></option>
        </select>

        <select id="versionSelect" th:field="*{versionLim}">
            <option th:each="versionLim : ${versionLimitations}" th:value="${versionLim}" th:text="${versionLim}"></option>
        </select>

        <br>

        <!-- Query field -->
        <h4>Query:</h4>
        <table>
            <tr>
                <td></td>
                <td><p>Segment Group</p></td>
                <td><p>Segment Code</p></td>
                <td><p>Element Code</p></td>
                <td><p>Sub-Element Code</p></td>
                <td><p>Component Number</p></td>
                <td><p>Field name</p></td>
                <td><p>ArseCode</p></td>
                <td><p>Number</p></td>
                <td><p>Looping Logic</p></td>
            </tr>
            <tr>
                <td>Input:</td>
                <td><input type="text" maxlength="4" th:field="*{segGroupIn}"/></td>
                <td><input type="text" maxlength="4" th:field="*{segCodeIn}"/></td>
                <td><input type="text" maxlength="4" th:field="*{elementCodeIn}"/></td>
                <td><input type="text" maxlength="4" th:field="*{subElementCodeIn}"/></td>
                <td><input type="text" maxlength="2" th:field="*{componentNumberIn}"/></td>
                <td><input type="text" maxlength="30" th:field="*{fieldNameIn}"/></td>
                <td><input type="text" maxlength="100" th:field="*{arseCodeIn}"/></td>
                <td><input type="text" maxlength="4" th:field="*{numberIn}"/></td>
                <td><input type="text" maxlength="100" th:field="*{loopingLogicIn}"/></td>
            </tr>
            <tr>
                <td>Output:</td>
                <td><input type="text" maxlength="4" th:field="*{segGroupOut}"/></td>
                <td><input type="text" maxlength="4" th:field="*{segCodeOut}"/></td>
                <td><input type="text" maxlength="4" th:field="*{elementCodeOut}"/></td>
                <td><input type="text" maxlength="4" th:field="*{subElementCodeOut}"/></td>
                <td><input type="text" maxlength="2" th:field="*{componentNumberOut}"/></td>
                <td><input type="text" maxlength="30" th:field="*{fieldNameOut}"/></td>
                <td><input type="text" maxlength="100" th:field="*{arseCodeOut}"/></td>
                <td><input type="text" maxlength="4" th:field="*{numberOut}"/></td>
                <td><input type="text" maxlength="100" th:field="*{loopingLogicOut}"/></td>
            </tr>
        </table>

        <button type ="submit">Run</button>
    </form>
</body>
</html>