<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Specifications</title>
</head>
<body>
    <h1>Specifications</h1>

    <form action="/">
        <button class="navbar-button" type="submit">Back</button>
    </form>

    <h3>New</h3>
    <form th:method="post" th:action="@{'/specifications/post'}" th:object="${specification}">
        <select th:field="*{message_type}">
            <option th:each="messageType : ${messageTypes}" th:value="${messageType}" th:text="${messageType}"></option>
        </select>
        <select th:field="*{version}">
            <option th:each="version : ${versions}" th:value="${version}" th:text="${version}"></option>
        </select>
        <input type="text" th:field="*{specification_name}"/>
        <button type ="submit">Create Specification</button>
    </form>

    <h3>Import</h3>
    <form th:method="post" th:action="@{'/specifications/import'}" th:object="${importSpec}">
        <select th:field="*{message_type}">
            <option th:each="messageType : ${messageTypes}" th:value="${messageType}" th:text="${messageType}"></option>
        </select>
        <select th:field="*{version}">
            <option th:each="version : ${versions}" th:value="${version}" th:text="${version}"></option>
        </select>
        <input type="text" th:field="*{specification_name}"/>
        <p>Paste CSV here: <textarea th:field="*{csv}"></textarea></p>
        <button type ="submit">Import</button>
    </form>

    <h3>List</h3>
    <table>
        <tr th:each = "specification : ${specifications}">
            <td th:text="${specification.message_type}"></td>
            <td th:text="${specification.version}"></td>
            <td th:text="${specification.specification_name}"></td>
            <td>
                <form method="post" th:action="@{/specifications/view/{id} (id = ${specification.id})}">
                    <button type ="submit" th:text="Edit"></button>
                </form>
            </td>
            <td>
                <form id="exportSpecForm" method="get" th:action="@{/specifications/export/{id} (id = ${specification.id})}">
                    <button type="submit" th:text="Export"></button>
                </form>
            </td>
            <td>
                <form id="delSpecForm" method="post" th:action="@{/specifications/delete/{id} (id = ${specification.id})}">
                    <button type="button" th:text="Delete" th:attr="onclick=|checkThenDelete('${specification.id}')|"></button>
                </form>
            </td>
        </tr>
    </table>

    <script>
        form = document.getElementById("delSpecForm");

        function checkThenDelete(delId) {
            if(confirm("Are you sure you want to delete this specification?")) {
                form.action = "/specifications/delete/" + delId;
                form.submit();
            }
        }
    </script>
</body>
</html>